
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Devrekani Şehitler Kütüphanesi">
    <meta name="author" content="Devrim Mehmet Pattabanoğlu">

    <title>Devrekani Şehitler Kütüphanesi</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Webpanel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Webpanel/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Devrekani Şehitler Kütüphanesi</div>
            <div class="list-group list-group-flush">
                <a href="/Panelim/Index/" class="list-group-item list-group-item-action bg-light">Profilim</a>
                <a href="/Panelim/Kitaplarim/" class="list-group-item list-group-item-action bg-light">Kitaplarım</a>
                <a href="/Mesajlar/yenimesaj/" class="list-group-item list-group-item-action bg-light">Mesaj Yaz</a>
                <a href="/Mesajlar/Index/" class="list-group-item list-group-item-action bg-light">Gelen Mesajlar</a>
                <a href="/Mesajlar/Giden/" class="list-group-item list-group-item-action bg-light">Giden Mesajlar</a>
                <a href="/Panelim/Duyurular/" class="list-group-item list-group-item-action bg-light">Duyurular</a>
                <a href="/" class="list-group-item list-group-item-action bg-light">Vitrin</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Yardım</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menü</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        @*<li class="nav-item active">
                            <a class="nav-link" href="/">Hakkımızda <span class="sr-only">(current)</span></a>
                        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ayarlar
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Panelim/Index/">Hesabım</a>

                                <div class="dropdown-divider"></div>
                                @*<a class="dropdown-item" href="#">Something else here</a>*@
                                <a class="dropdown-item" href="/Panelim/CikisYap/">Çıkış Yap</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
            @RenderBody()   
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Webpanel/vendor/jquery/jquery.min.js"></script>
    <script src="~/Webpanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>$("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });</script>

</body>

</html>
