@model MvcKutuphane.Models.Entity.Categories

@{
    ViewBag.Title = "CategoryGet";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
            {
    <div style="margin-bottom:"15px"></div>
    <div class="form-group">
        @Html.LabelFor(c => c.Id)
        @Html.TextBoxFor(c => c.Id, new { @class = "form-control" })
        <br />
        <label>Kategori Adı</label>
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
            }

