@model MvcKutuphane.Models.Entity.Categories
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="Name" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btnAdd">Kategori Ekle</button>
    </div>


</form>

