@using MvcKutuphane.Models.Entity
@model List<Employees>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personeller</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Personel Id</th>
            <th>Personel Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>

        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Employee</td>
                <td><a href="/Employee/EmployeeDelete/@employee.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Employee/EmployeeGet/@employee.Id" class="btn btn-success">Güncelle</a></td>

            </tr>
        }
    </tbody>
</table>
<a href="/Employee/EmployeeAdd/" class="btn btn-primary">Yeni Personel Ekle</a>