@model Devrekani_Sehitler_Kutuphanesi.Models.Entity.TBL_KATEGORI

@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategori Ekle</h2>
<form class="form-group" method="post">

    <div style="margin-top:15px">
        <label>Kategori Adı</label>
        @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })
        @*<input type="text" class="form-control" name="AD" />  ESKİ BİR YÖNTEMLE VERİ ÇEKME      *@
    </div>
    <div style="margin-top:15px">
       <button class="btn btn-info" id="Btn1">Kategori Ekle</button>
    </div>
</form>
