@model MvcKutuphane.Models.Entity.Authors

@{
    ViewBag.Title = "AuthorAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(author => author.Name, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(author => author.Surname, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Detay Bilgileri</label>
        @Html.TextAreaFor(author => author.Detail, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Yazar Ekle</button>
    </div>
   
</form>
