
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Devrekani Şehitler Kütüphanesi</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Devrekani Şehitler Kütüphanesi" />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="~/weblogin/css/style.css" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="~/weblogin/css/fontawesome-all.css" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- /google fonts-->

</head>


<body>
    <h1 style="color:#ff0000">Devrekani Şehitler Kütüphanesi</h1>
    <div class=" w3l-login-form">
        <h2>Giriş Yap</h2>
        <form action="#" method="POST">

            <div class=" w3l-form-group">
                <label>Kullanıcı Adı:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" placeholder="Kullanıcı Adı" required="required" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Şifre:</label>
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" class="form-control" placeholder="Şifre" required="required" />
                </div>
            </div>
            <div class="forgot">
                <a href="#">Şifremi Unuttum?</a>
                <p><input type="checkbox">Beni Hatırla</p>
            </div>
            <a href="/Kategoriler/Index/" class="register"> Geçici Giriş Butonu</a>
            @*<button type="submit">Giriş Yap</button>*@
        </form>
        <p class=" w3l-register-p">Kayıtlı Değil Misiniz ?<a href="/Uye/KayitOl/" class="register"> Kayıt Ol</a></p>
    </div>
    <footer>
        <p class="agile-copyright">
            Devrekani Şehitler Kütüphanesi <br />
            Copyright © 2020
</footer>

</body>

</html>