
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yardım Sayfası</h2>
<h1 id="k&uuml;t&uuml;phane-y&ouml;netim-sistemi" style="text-align: center;"><strong>K&uuml;t&uuml;phane Y&ouml;netim Sistemi</strong></h1>
<h3 style="text-align: center;">Bu Proje <strong><span style="color: #ff0000;">Murat Y&uuml;cedağ</span></strong>&rsquo;ın Mvc5 ile 3 Panelli K&uuml;t&uuml;phane Y&ouml;netim Sistemi Eğitimini temel alarak kodlanmıştır.<br /><a title="#UDEMY#" href="https://www.udemy.com/course/mvc5-ile-3-panelli-kutuphane-yonetim-sistemi/" target="_blank" rel="noopener">#UDEMY#</a></h3>
<br />
<hr />
<br />
<h1 id="k&uuml;t&uuml;phane-y&ouml;netim-sistemi" style="text-align: center;"><strong>Teşekk&uuml;rler <span style="color: #ff0000;">#MuratY&uuml;cedağ</span></strong></h1>
<br />
<hr />
<br />
<h3 style="text-align: center;"><strong><br /><br /></strong>Misyonunun fikir babası <strong>İsmail Hakkı Tongu&ccedil;</strong> ve <strong>Hasan Ali Y&uuml;cel</strong>'dir. Onlardan aldığı meşaleyi kendinden sonrakilere taşıma gayesindedir. Bunu da lisans eğitiminde aldığı m&uuml;hendislik disiplinini eğitmenlikle harmanlayarak yazılımda <strong>T&uuml;rk&ccedil;e</strong> kaynağın arttırılması yolundaki &ccedil;alışmalarını "her ge&ccedil;en g&uuml;n bir &ouml;nceki g&uuml;nden daha dolu olmalı" ideali ile s&uuml;rd&uuml;rmektedir.<strong><br /></strong></h3>
<p style="text-align: center;">&nbsp;</p>
<h1 id="k&uuml;t&uuml;phane-y&ouml;netim-sistemi" style="text-align: center;"><strong><span style="color: #ff0000;">YazılımHerYerde !</span><br /><br /><br /></strong></h1>