@model Devrekani_Sehitler_Kutuphanesi.Models.Entity.TBL_KATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Kategoriler", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">

        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control", @readonly="true" })
        <br />
        @Html.LabelFor(k => k.AD)
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control",@maxlength="20" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>

    </div>
}
